---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Video from '../components/Video.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="rabbit r1 - online">
	<main>
		<Menu />
		<Video />
		<Footer />
	</main>
</Layout>

