---
---
<footer class="p-5 sm:flex sm:mt-[80px]">
    <div class="flex justify-center">
        <div class="ml-2">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-white w-6 ml-3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6c757d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                    <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                  </svg>
            </a>
        </div>
        <div>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-white w-6 ml-3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6c757d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                  </svg>
            </a>
        </div>
        <div>
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 ñ ml-3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6c757d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                    <path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                    <path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3" />
                    <path d="M7 16.5c3.5 1 6.5 1 10 0" />
                  </svg>
            </a>
        </div>
    </div>
    <hr class="border-[#aaaaaa] md:hidden w-full">
    <div class="sm:items-center">
        <div class="text-gray-500 text-center mt-1">
            <a href="" class="ml-4 hover:text-white">
                terms of use
            </a>
            <a href="" class="ml-4 hover:text-white">
                privacy policy
            </a>
            <a href="" class="ml-4 hover:text-white">
                careers
            </a>
        </div>
    </div>
    <hr class="mt-2 mb-2border-[#aaaaaa] md:hidden w-full">
    <div>
        <div>
            <h1 class="text-gray-500 text-center mt-1 sm:ml-[400px]">
                rabbit inc. @2024
            </h1>
        </div>
    </div>
</footer>