---
---
<header class="bg-black p-4 sm:p-4 w-full">
	<div class="flex">
	  <a href="/">
		<img src="https://www.rabbit.tech/icons/logo.svg" class="sm:w-24 ml-2 mt-2 w-24 mb-2 ">
	  </a>
		<div class="flex gap-16 whitespace-nowrap items-center text-cyan-50 col-span-10 lg:flex ml-auto hidden sm:visible">  
		  <a href="#" class="ml-3"> <span>rabbit r1</span> </a>
		  <a href="#" class="ml-3"> <span>rabbit os</span> </a>
		  <a href="#" class="ml-3"> <span>research</span> </a>
		  <a href="#" class="ml-3"> <span>newsroom</span> </a>
		  <a href="#" class="ml-3"> <span>support</span> </a>
		</div>
		<svg width="20" height="21" class="ml-auto mr-2 self-center " viewBox="0 0 20 21" fill="none"> <rect x="4" y="0.163086" width="12" height="13" rx="3" fill="white"></rect><rect x="6" y="2" width="8" height="9" rx="1" fill="black"></rect><rect y="4.83704" width="20" height="16" fill="white"></rect>
		</svg>
		<svg class="sm:hidden visible" width="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M4 6l16 0" />
			<path d="M4 12l16 0" />
			<path d="M4 18l16 0" />
	    </svg>
	</div>
  </header>
