---
---
<video src="https://rabbit.lotofcarrots.com/media/home/r1.mobile.mp4" autoplay loop class="lazyload absolute w-full h-[500px] sm:h-[450px] object-cover pointer-events-none entered loaded"></video>
<img src="https://www.rabbit.tech/_next/image?url=%2Fmedia%2Fhome%2Fr1.png&w=640&q=75" alt="logo-r1" class="relative w-20 sm:w-32 sm:ml-12 ml-5 mt-[140px]">
<div>
    <h2 class="text-white relative text-3xl ml-4 sm:text-4xl sm:ml-10 ">
        Your pocket companion
    </h2>
    <div class="flex">
        <h4 class="text-white relative text-2xl ml-10">
            powered by 
        </h4>
        <img alt="rabbit OS" loading="lazy" width="160" height="24" decoding="async" data-nimg="1" class="inline align-baseline w-[120px] h-6 md:w-[160px] relative mt-1 ml-2" style="color:transparent" src="https://www.rabbit.tech/icons/logo-os-light.svg">
    </div>
    <div class="sm:flex sm:ml-6">
        <a href="/">
            <h4 class="text-orange-400 relative ml-5 mt-5 sm:text-2xl">
                watch keynote
            </h4>
        </a>
        <a href="/" class="ml-[500px]">
            <h4 class="text-orange-600 mt-4  relative font-bold text-5xl">
                Order Now!
            </h4>
        </a>
    </div>
</div>


